#Common
PORT=3000


# Meta API
META_ACCESS_TOKEN=your_meta_access_token_here
META_USER_ID=your_meta_user_id_here
META_MEDIA_FETCH_LIMIT=5

# AWS / LocalStack
AWS_ENDPOINT=http://localhost:4566
AWS_PUBLIC_ENDPOINT=http://localhost:4566
AWS_SECRET_ID=my-app-secrets
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
SQS_FETCH_MEDIA_QUEUE_URL=http://localhost:4566/000000000000/fetch-media-queue
SQS_DOWNLOAD_MEDIA_QUEUE_URL=http://localhost:4566/000000000000/download-media-queue
S3_BUCKET_NAME=ig-media

# Worker Configurations
WORKER_OUTBOX_BATCH_SIZE=50
WORKER_FETCH_MEDIA_SQS_POLL_BATCH_SIZE=10
WORKER_DOWNLOAD_MEDIA_SQS_POLL_BATCH_SIZE=10
